[ad.example.com]
computer-ou = ou=Servers,ou=Linux,DC=domain,DC=example,DC=com
computer-name = {{ ansible_hostname }}
automatic-join = yes
user-principal = yes
automatic-id-mapping = no
dyndns_update = true
dyndns_refresh_interval = 43200
dyndns_update_ptr = true
dyndns_ttl = 3600

[users]
default-home = /home/%u
default-shell = /bin/bash
